body{
	background-color: tomato;
}

h1{
	color: lawngreen;
	text-align: 15px;
	padding-top: 200px;
}

table, th, td {
	border: 10px solid black;
	border-collapse: collapse;
 }
 th, td {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
 }
